h1 {
  text-align: center;
  padding: 20px 0;
  background-color: black;
  color: white;
}

#userInput {
  text-overflow: ellipsis;
  width: 70%;
}

.mainContainerContent {
  padding: 20px;
}

.robotResponse {
  margin-top: 30px;
}
